{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Navbar & Carousel Start -->
    <div class="container-fluid position-relative p-0">
        {% include 'includes/navbar.html' %}
  
        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static "img/carousel-11.jpg" %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Bienvenue à CallCenter</h5>
                            <h1 class="display-1 text-white mb-md-4 animated zoomIn">Votre centre d'appels de confiance</h1>
                            <a href="{% url "service" %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Services</a>
                            <a href="{% url "contact" %}" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static "img/carousel-22.jpg" %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Service client de qualité</h5>
                            <h1 class="display-1 text-white mb-md-4 animated zoomIn">Nous offrons un service client de qualité à nos clients, 24h/24 et 7j/7.</h1>
                            <a href="{% url "service" %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Services</a>
                            <a href="{% url "contact" %}" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Navbar & Carousel End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Facts Start -->
    <div class="container-fluid facts py-5 pt-lg-0">
        <div class="container py-5 pt-lg-0">
            <div class="row gx-0">
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                    <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                        <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                            <i class="fa fa-users text-primary"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white mb-0">Clients satisfaits</h5>
                            <h1 class="text-white mb-0" data-toggle="counter-up">12345</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                    <div class="bg-light shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                            <i class="fa fa-check text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-primary mb-0">Projets réalisés</h5>
                            <h1 class="mb-0" data-toggle="counter-up">98</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                    <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                        <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                            <i class="fa fa-award text-primary"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white mb-0">Gagnez des prix</h5>
                            <h1 class="text-white mb-0" data-toggle="counter-up">11</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts Start -->


    <!-- Features Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Pourquoi nous choisir</h5>
                <h1 class="mb-0">Nous sommes là pour aider votre entreprise à croître de manière exponentielle</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4">
                    <div class="row g-5">
                        <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                            <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i class="fa fa-headset text-white"></i>
                            </div>
                            <h4>Service client de qualité</h4>
                            <p class="mb-0">Nous offrons un service client de qualité à nos clients, 24h/24 et 7j/7.</p>
                        </div>
                        <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                            <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i class="fa fa-phone-alt text-white"></i>
                            </div>
                            <h4>Agents expérimentés</h4>
                            <p class="mb-0">Agents expérimentés</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="{% static "img/featuree.jpg" %}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row g-5">
                        <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                            <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i class="fa fa-clock text-white"></i>
                            </div>
                            <h4>Ouvert 24h/24 et 7j/7</h4>
                            <p class="mb-0">Nous sommes disponibles 24h/24 et 7j/7 pour répondre à vos besoins.</p>
                        </div>
                        <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                            <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <h4>Solutions sur mesure</h4>
                            <p class="mb-0">Nous proposons des solutions sur mesure pour répondre aux besoins spécifiques de chaque entreprise.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features Start -->

     <!-- Testimonial Start -->
     <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Témoignages</h5>
                <h1 class="mb-0">Ce que nos clients disent de nos services de centre d'appels</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="{% static "img/testimonial-11.jpg" %}" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Valdez</h4>
                            <small class="text-uppercase">PDG, Société ACME</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        "L'équipe de votre centre d'appels a été un sauveur pour notre entreprise. Ils sont toujours professionnels et courtois, et ils vont au-delà de leurs moyens pour aider nos clients."
                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="{% static "img/testimonial-22.jpg" %}" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Nelson</h4>
                            <small class="text-uppercase">Directeur des ventes, Société Xtractec</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        "Nous comptons sur l'équipe de votre centre d'appels pour générer des leads et conclure des ventes pour nous. Ils sont toujours en mesure de dépasser nos attentes."
                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="{% static "img/testimonial-33.jpg" %}" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Angelo</h4>
                            <small class="text-uppercase">Directeur du support client, Société NTAS</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        "L'équipe de votre centre d'appels est une partie essentielle de notre équipe de support client. Ils sont toujours en mesure de résoudre les problèmes de nos clients rapidement et efficacement."
                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="{% static "img/testimonial-44.jpg" %}" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Ingrid</h4>
                            <small class="text-uppercase">PDG de MSOnline</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        "L'équipe de votre centre d'appels a été un sauveur pour notre entreprise. Ils sont toujours professionnels et courtois, et ils vont au-delà de leurs moyens."
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    

    {% endblock content %}


