{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        {% include 'includes/navbar.html' %}

        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px; background-image: static/img/carousel.jpg;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">Services</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Service Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Nos services</h5>
                <h1 class="mb-0">Services de centre d'appels pour votre entreprise</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon">
                            <i class="fas fa-headset text-white"></i>
                        </div>
                        <h4 class="mb-3">Assistance client</h4>
                        <p class="m-0">Offrez à vos clients une assistance 24h/24 et 7j/7 par téléphone, e-mail ou chat.</p>
                        <a class="btn btn-lg btn-primary rounded" href="">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon">
                            <i class="fas fa-users text-white"></i>
                        </div>
                        <h4 class="mb-3">Génération de leads</h4>
                        <p class="m-0">Qualifiez et générez des leads pour votre entreprise par appel entrant et sortant.</p>
                        <a class="btn btn-lg btn-primary rounded" href="">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon">
                            <i class="fas fa-file text-white"></i>
                        </div>
                        <h4 class="mb-3">Saisie de données</h4>
                        <p class="m-0">Saisir des données de manière précise et efficace dans votre CRM ou d'autres systèmes.</p>
                        <a class="btn btn-lg btn-primary rounded" href="">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon">
                            <i class="fas fa-chart-pie text-white"></i>
                        </div>
                        <h4 class="mb-3">Reporting et analyse</h4>
                        <p class="m-0">Fournir des rapports et des analyses sur les performances de votre centre d'appels.</p>
                        <a class="btn btn-lg btn-primary rounded" href="">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon">
                            <i class="fas fa-lock text-white"></i>
                        </div>
                        <h4 class="mb-3">Sécurité et conformité</h4>
                        <p class="m-0">S'assurer que vos données sont sécurisées et que votre centre d'appels est conforme à toutes les réglementations applicables.</p>
                        <a class="btn btn-lg btn-primary rounded" href="">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon">
                            <i class="fas fa-phone text-white"></i>
                        </div>
                        <h4 class="mb-3">Télévente</h4>
                        <p class="m-0">Promouvoir et vendre vos produits et services par téléphone.</p>
                        <a class="btn btn-lg btn-primary rounded" href="">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Testimonial Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Témoignages</h5>
                <h1 class="mb-0">Ce que nos clients disent de nos services de centre d'appels</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="{% static "img/testimonial-11.jpg" %}" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Valdez</h4>
                            <small class="text-uppercase">PDG, Société ACME</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        "L'équipe de votre centre d'appels a été un sauveur pour notre entreprise. Ils sont toujours professionnels et courtois, et ils vont au-delà de leurs moyens pour aider nos clients."
                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="{% static "img/testimonial-22.jpg" %}" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Nelson</h4>
                            <small class="text-uppercase">Directeur des ventes, Société Xtractec</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        "Nous comptons sur l'équipe de votre centre d'appels pour générer des leads et conclure des ventes pour nous. Ils sont toujours en mesure de dépasser nos attentes."
                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="{% static "img/testimonial-33.jpg" %}" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Angelo</h4>
                            <small class="text-uppercase">Directeur du support client, Société NTAS</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        "L'équipe de votre centre d'appels est une partie essentielle de notre équipe de support client. Ils sont toujours en mesure de résoudre les problèmes de nos clients rapidement et efficacement."
                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="{% static "img/testimonial-44.jpg" %}" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Ingrid</h4>
                            <small class="text-uppercase">PDG de MSOnline</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        "L'équipe de votre centre d'appels a été un sauveur pour notre entreprise. Ils sont toujours professionnels et courtois, et ils vont au-delà de leurs moyens."
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    

    {% endblock content %}